.__layout{
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}

.__content{
  display: flex;
  flex-direction: row;
  flex: 1;
  background-color: #F5F5F5;
}

.home__productTable{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.detailProduct__Card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
}

.detailProduct__Card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.detailProduct__Card .swiper{
  height: 100%;
}

.__about{
  min-height: 0vh;
  width: 100%;
  padding: 2rem 5rem;
}

.__footer{
  position: relative;
  height: 60px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.__pageNotFound{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.__pageNotFound img{
  object-fit: cover;
  width: 40%;
  height: 40%;
  margin-bottom: 1rem;
}

.section__contentRight{
  margin-bottom: 2rem;
  text-align: justify;
}

section .section__contentLeft{
  display: flex;
  flex-direction: row-reverse;
  text-align: justify;
}

.__aboutImage{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section__contentRight img, .section__contentLeft img{
  width: 100%;
}

.__contact{
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 2rem 5rem;
  overflow-x: hidden;
}

.__contact img{
  width: 50%;
}

.content__card{
  border: 0 !important; 
  margin-top: '2rem' !important; 
  background-color: 'transparent' !important; 
  width: '100%' !important;
}

/* Tablet breakpoints */
@media only screen and ((min-width: 576px) and (max-width: 1024px)) {
  section .section__contentLeft {
      flex-direction: row;
  }

}